{% extends " base.html.twig" %}
{% block users %}

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->

    {% include "top_nav.html.twig" %}

    <!-- Top Menu Items -->
    {% include "side_nav.html.twig" %}
    <!-- /.navbar-collapse -->
</nav>

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    USERS
                    <small>Subheading</small>
                </h1>
                <a href="add_user.html.twig" class="btn btn-primary">ADD USER</a>
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Photo</th>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for users as user : %}
                            ?>
                            <tr>
                                <td>{{ user.id }}</td>
                                <td><img class="user-image" src="{{ user.image_path_and_placeholder() }} ">

                                </td>
                                <td> {{ user.username }}
                                    <div class="actions_links">
                                        <a href="../Admin/delete_user.php?id={{ user.id }}">Delete</a>
                                        <a href="../Admin/edit_user.php?id= {{ user.id }}">Edit</a>
                                    </div>
                                </td>

                                <td> user.first_name</td>
                                <td> user.last_name</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}